<!--
代码为自动生成 Created by www.magicalcoder.com
 软件作者：何栋宇 qq:709876443
 如果你改变了此类 read 请将此行删除
 欢迎加入官方QQ群:648595928
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v103/include/head :: commonHead('goods编辑')"/>

<body class="childrenBody layui-hide">
<!--请不要删除magicaldrag注释标签，可以配合布局器进行联动布局-->
<!--magicaldrag-->
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">

            </div>
            <div class="layui-card-body">
                <form class="layui-form">
                    <div class="layui-form-item security_edit_form_param_id">
                        <label class="layui-form-label">主键</label>
                        <div class="layui-input-block">
                            <input type="text" disabled="true" class="layui-input" name="id"  placeholder="主键自动生成，无需手动编辑,如果重置则变成增加数据"/>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_goodsName">
                        <label class="layui-form-label">商品名</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="goodsName" placeholder="商品名" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_publishStatus">
                        <label class="layui-form-label">是否发布</label>
                        <div class="layui-input-block">
                        <select name="publishStatus" class="layui-input" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0"  placeholder="是否发布">
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_goodsStatus">
                        <label class="layui-form-label">商品状态</label>
                        <div class="layui-input-block">
                        <select name="goodsStatus" class="layui-input" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0"  placeholder="商品状态">
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_price">
                        <label class="layui-form-label">价格</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="price" placeholder="价格" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_storeCount">
                        <label class="layui-form-label">库存</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="storeCount" placeholder="库存" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="0" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_shortBrief">
                        <label class="layui-form-label">简介</label>
                        <div class="layui-input-block">
                        <textarea name="shortBrief" placeholder="简介" class="layui-textarea" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" ></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_goodsDescription">
                        <label class="layui-form-label">商品描述</label>
                        <div class="layui-input-block">
                        <textarea name="goodsDescription" placeholder="商品描述" class="layui-textarea" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" ></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_createTime">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="createTime" placeholder="创建时间" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_updateTime">
                        <label class="layui-form-label">更新时间</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="updateTime" placeholder="更新时间" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_imgSrc">
                        <label class="layui-form-label">图片</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="imgSrc" placeholder="图片" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_goodsCategoryId">
                        <label class="layui-form-label">所属类目</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="goodsCategoryId" placeholder="所属类目" lay-verify="magicalCoderVerify" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item ">
                        <div class="layui-input-block">
                            <a class="layui-btn security_edit_form_operate_save" lay-submit="" lay-filter="save">立即提交</a>
                            <button type="reset" class="layui-hide layui-btn layui-btn-primary" >重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--/magicaldrag-->
    <div th:replace="magicalcoder/v103/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/goods/edit.js}"></script>
</body>
</html>
