<!--
代码为自动生成 Created by www.magicalcoder.com
 软件作者：何栋宇 qq:709876443
 如果你改变了此类 read 请将此行删除
 欢迎加入官方QQ群:648595928
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v103/include/head :: commonHead('score_shiji编辑')"/>

<body class="childrenBody layui-hide">
<!--请不要删除magicaldrag注释标签，可以配合布局器进行联动布局-->
<!--magicaldrag-->
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">

            </div>
            <div class="layui-card-body">
                <form class="layui-form">
                    <div class="layui-form-item security_edit_form_param_id">
                        <label class="layui-form-label">id</label>
                        <div class="layui-input-block">
                            <input type="text" disabled="true" class="layui-input" name="id"  placeholder="主键自动生成，无需手动编辑,如果重置则变成增加数据"/>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_afterSale">
                        <label class="layui-form-label">after_sale</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="afterSale" placeholder="after_sale" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_apply">
                        <label class="layui-form-label">apply</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="apply" placeholder="apply" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_companyName">
                        <label class="layui-form-label">company_name</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="companyName" placeholder="company_name" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_geneSitu">
                        <label class="layui-form-label">gene_situ</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="geneSitu" placeholder="gene_situ" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_standard">
                        <label class="layui-form-label">standard</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="standard" placeholder="standard" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_techRequire">
                        <label class="layui-form-label">tech_require</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="techRequire" placeholder="tech_require" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_signature">
                        <label class="layui-form-label">signature</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="signature" placeholder="signature" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="|minLength=0" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item ">
                        <div class="layui-input-block">
                            <a class="layui-btn security_edit_form_operate_save" lay-submit="" lay-filter="save">立即提交</a>
                            <button type="reset" class="layui-hide layui-btn layui-btn-primary" >重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--/magicaldrag-->
    <div th:replace="magicalcoder/v103/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/score_shiji/edit.js}"></script>
</body>
</html>
